[Unit]
After=syslog.target
[Service]
WorkingDirectory={{ app_work_dir }}
ExecStart=/bin/bash -lc 'SECRET_KEY_BASE=wekdjfh23k4uh2jkn3oi83e12 RAILS_ENV=production DB_HOST=127.0.0.1 DB_PORT=5432 DB_NAME={{ app_db }} DB_USER={{app_user}} DB_PASSWORD={{ app_user_pass }} bundle exec rake db:migrate && bundle exec puma -b unix:/var/tmp/puma.sock -e $RAILS_ENV config.ru'
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ app_name }}
User={{ app_user }}
Group=rustam
Environment=SECRET_KEY_BASE=wekdjfh23k4uh2jkn3oi83e12
Environment=RAILS_ENV=production
Environment=RAILS_LOG_TO_STDOUT=1
Environment=DB_HOST=127.0.0.1
Environment=DB_PORT=5432
Environment=DB_NAME={{ app_db }}
Environment=DB_USER={{ app_user }}
Environment=DB_PASSWORD={{ app_user_pass }}

[Install]
WantedBy=multi-user.target